body
  width: 100vw
  height: 100vh
  margin: 0
  font: Merriweather, serif

.toolbar, .sidebar
  padding: 5px
.toolbar, .sidebar, .tabs
  background: #ccc

.tabs
  margin-left: -2px
.tab
  display: inline-block
  margin: 2px 2px
  box-shadow: 0 1px 3px 1px rgba(60,60,60,.2)
  background: #eee
  padding: 5px

// Flex
.flexcol
  display: flex
  flex-direction: column
.flexrow
  display: flex
  flex-direction: row
.grow
  flex-grow: 1

.hide
  display: none
