// Full-page layout
body
  width: 100vw
  height: 100vh
  margin: 0
  font-family: 'Merriweather', serif

// Monospace font including ␣
code, pre, #key
  font-family: 'Inconsolata', monospace
@font-face
  font-family: 'Inconsolata'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://cdn.jsdelivr.net/gh/googlefonts/Inconsolata/fonts/otf/Inconsolata-Regular.otf)

// Toolbar on top
.toolbar, .sidebar
  padding: 5px
.toolbar, .sidebar, .tabs
  background: #ccc

// Tabs on bottom
.tabs
  margin-left: -2px
.tab
  display: inline-block
  margin: 2px 2px
  box-shadow: 0 1px 3px 1px rgba(60,60,60,.2)
  background: #eee
  padding: 5px
  cursor: pointer

// Tileset on left
form
  margin-bottom: 0
input
  font-size: 16
  width: 100%
.delete:hover
  cursor: pointer
#tiles
  overflow-y: scroll
  margin-right: -5px
  margin-top: 5px
.tile
  margin-bottom: 5px
  margin-right: 3px
  padding: 5px
  text-align: center
  background: #ddd
  border: solid #bbb
  &.selected
    background: #6d6
  > div
    display: flex
    justify-content: space-between
  > svg
    background: white
    box-shadow: 0 1px 6px 1px rgba(60,60,60,.4)

// Flex
.flexcol
  display: flex
  flex-direction: column
.flexrow
  display: flex
  flex-direction: row
.grow
  flex-grow: 1
.shrink
  flex-shrink: 1

.hide
  display: none
