html
  head
    meta(charset="UTF-8")
    title SVG Tiler GUI
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap", crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css")
    link(rel="stylesheet", href="index.css")
    script(src="node_modules/svgtiler/lib/svgtiler.js")
    script(src="gui.js")
  body.flexrow
    .sidebar
      #mappings
      form#keyForm
        input#key(type="text", size="8", style="visibility: hidden")
      #tiles
    .rhs.grow.flexcol
      .toolbar
        button#load
          i.fas.fa-upload
        input(type="file").hide#file
        button#save
          i.fas.fa-download
        button#border
          i.fas.fa-border-all
      .svg.grow
      .tabs
        .tab Main
